<!DOCTYPE html>
<html>
  <head>
    <title>Котики</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="src/styles.css" />
  </head>

  <body>
    <div id="app"></div>
    <script type="text/x-template" id="main">
      <div>
      		<header class="header">
      				<ul class="menu">
      						<li class="menu__list1"  :class="{menu__list_active : index}">
      								<a href="index.html" class="menu__link" @click.prevent="index = true">Все котики</a>
      						</li>
      						<li class="menu__list2" :class="{menu__list_active : !index}">
      								<a href="like_cats.html" class="menu__link"  @click.prevent="index = false">Любимые котики</a>
      						</li>
      				</ul>
      		</header>
      		<div v-if="index">
      				<section class="all_cats">
      						<div class="all_cats-box">
      								<div class="cat" v-for="cat in allCats">
      										<img class="cat__img" :src="cat.url" alt="photo cat">
      										<div><a href="#" class="cat__likes" @click.prevent="like(cat)"><i class="far fa-heart dislike"></i></a></div>
      								</div>
      						</div>
      				</section>
      		</div>
      	 <div v-else>
      			 <section class="all_cats">
      					 <div class="all_cats-box">
      							 <div class="cat"  v-for="cat in likeCats">
      									<img class="cat__img" :src="cat.url" alt="photo cat">
      									 <div><a href="#" class="cat__likes" @click.prevent="disLike(cat)"><i class="fas fa-heart like"></i></a></div>
      							 </div>
      					 </div>
      			 </section>
      	 </div>
      </div>
    </script>

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
      integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/index.js"></script>
  </body>
</html>
